* {
  margin: 0;
  padding: 0;
  transition: all;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}



.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://wallpapercave.com/wp/wp3049324.jpg");
  background-position: center;
  background-size: 168rem;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.nav-bar {

  box-shadow: -3px -5px 8px rgb(31 31 31);

}

@media only screen and (min-width: 1001px) {
  .nav-bar, li, ul {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://wallpapercave.com/wp/wp3049324.jpg");
  }

  ul {
    position: fixed;
    width: 99%;
  }
}

.img-class img {

  width: 50%;

}

.nav-bar li a {
  color: #292627;
  text-decoration: none;
  text-shadow: 4px 2px 4px rgb(0 0 0 / 20%);
  font-size: 1.5rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 20px;

}

ul li {
  list-style: none;
  display: flex;
  width: 100%;
  gap: 70px;
  margin-right: 2rem;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

ul li a {
  text-decoration: none;
  position: relative;
  padding: 15px 10px;
  display: block;

}

ul li a+a {
  margin-left: 20px;

}


ul li a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: rgb(118 79 56);
  ;
  transform-origin: bottom right;
  transition: transform 0.8s ease;
  transform: scaleX(0);

}

ul a:hover {
  color: black;
}

ul a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}




@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;

}


/* @media (min-width: 450px) {
  h1.heading {
    font-size: 1.75em;
  }
}

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.25em;
  }
}

@media (min-width: 900px) {
  h1.heading {
    font-size: 4.25em;
    margin: 0 0 0.5em;
  }
} */
.main-div {
  text-shadow: 4px 2px 4px rgb(0 0 0 / 20%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btnfos {
  background: linear-gradient(10deg, #e4c885 45% 33%, #9d5129 57% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 40px;
  line-height: 68px;
  max-width: 200px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.btnfos-1 {

  font-weight: 1000;

}

.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;

  width: 100%;
  height: 100%;
}

.btnfos-1 rect {
  fill: none;
  stroke: rgb(170 117 66);
  stroke-width: 5;
  stroke-dasharray: 420, 0;

}

.btnfos-1:hover {
  color: white;
  letter-spacing: 1px;
  font-weight: 900;


}

.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.populer-div {
  overflow: hidden;
  width: 100%;
}

.populer-div h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgb(245, 245, 245);
  text-shadow: 0 0 0.2em rgb(3 0 0), 0 0 0.2em;
  text-decoration: none;
  text-align: center;
  background-color: #efefef !important;
}

.house-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  width: 100%;
  height: 80vh;
  scroll-behavior: smooth;
  background-color: #efefef !important;

}

.innerhouse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  gap: 20vh;
  scroll-behavior: smooth;
}

.house-1 img {

  width: 30%;
  height: 30%;
}

.houses {
  margin-top: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;


  flex-direction: column;
}

.houses-try {
  background-color: white;
  width: 20%;
  height: 45vh;
  gap: 8px;
  border-radius: 20px;
  box-shadow: 0rem 1rem 0.8rem rgb(88 88 88 / 20%);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;

}

.houses, .houses-try p {
  font-weight: 800;

}

.houses-try img {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0 0;
}

.houses-try a {
  -webkit-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 1000ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  position: relative;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 30px;
}

.houses-try a.button {
  font-weight: 700;
  border-radius: 10px;
  color: black;
  box-shadow: rgb(0, 0, 0) 0 0 0 2px inset;
}

.houses-try a.button:hover {
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 0 0.2em rgb(3 0 0), 0 0 0.2em;
  box-shadow: rgba(24, 160, 250, 0.7) 0 0px 0px 40px inset;
}

.populer-div hr {
  width: 100%;
  background-color: rgb(0, 0, 0);

}


.under-div {

  margin-top: 50px;
}

.future {
  display: flex;
  gap: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

}

.footer-bottom {
  color: rgb(134, 134, 134);
  display: flex;
  width: 100%;
  padding-top: 8px;
  justify-content: center;
  height: 3vh;
  background-color: #0a0a0a;
}

.slogan {
  font-size: 3.25rem;
  font-weight: 900;
  max-width: 49rem;
  margin-top: 14rem;
  line-height: 3.375rem;
  padding-top: 6.875rem;
  padding-bottom: 1rem;
  /* color: #ffffff; */
  background: linear-gradient(15deg, #e4c885 0% 0%, #9d5129 52% 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.under-div2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 27vh;
  margin: -50px 0 0;
  background-image: url(https://wallpapercave.com/wp/wp3049324.jpg);
  background-position: 0px 47px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: white;
}

.under-div2 h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgb(245, 245, 245);
  text-shadow: 0 0 0.2em rgb(3 0 0), 0 0 0.2em;
  text-decoration: none;
}

.btn {
  color: rgb(0, 0, 0);
  background: black;
  height: 6vh;
  width: 6vh;
  border-radius: 30px;
  transition: 0.9s;
  position: relative;
  overflow: hidden;
}

.btn1:hover {
  background-color: rgb(216, 77, 77);


}

.btn2:hover {
  background-color: #1e90ff;

}

.btn3:hover {
  background-color: #25d366;

}

.btn4:hover {
  background-color: #3742fa;

}

.btn5:hover {
  background-color: #764c36;

}

.left-arrow {}

@media only screen and (max-width: 1100px) {

  ul li {
    display: flex;

  }



  .houses-try {
    min-width: calc(100% / 1) !important;
    height: 100%;
  }


}

@media only screen and (max-width: 1021px) {




  .houses-try {
    min-width: calc(100% / 3) !important;
    height: 100%;

  }

  .bg-img2 {

    min-width: calc(100% / 1) !important;

  }


}

@media only screen and (min-width: 1081px) {

  .nav-bar ul li h3 {
    background-color: white;
  }
}


.subs-class {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}




.bg-img2 {
  width: 100%;
  gap: 10px;
  height: 35rem;
  color: white;
  background-image: url(https://469d087300883e9bb3d5-24ea562a81857b1826136658ffdd36e4.ssl.cf3.rackcdn.com/x.prod/960cm659/images/section-bg/slant-lines.jpg);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


}

.heading {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
  margin-left: 1.1vh;
}


.subs-class p {
  color: #fff;
  width: 25vw;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5vh;
  margin-left: 1.1vh;
}

.box1 {
  width: 80%;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  margin-left: 1vh;
  box-shadow: 0px 1px 5px 2px rgb(255 255 255 / 30%) !important;

}

.btndiv {
  width: 80%;
  margin-left: 1.1vh;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btndiv button {
  width: 100%;
  border: 2px solid white;
  text-shadow: rgb(245, 245, 245) 0 0 1.3px;
  background: transparent;
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.1px;
}

.btndiv button:hover {
  background-color: rgba(255, 255, 255, 0.3);

}



.bg-img {

  width: 100%;
  height: 35rem;
  margin: auto;
}

.map {
  width: 99%;
  height: 100%;
  margin: auto;
}